<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        colors="true"
        bootstrap="vendor/autoload.php">
        <testsuites>
            <testsuite name="test world statistics">
                <directory>./tests</directory>
            </testsuite>
        </testsuites>
        <php>
        <var name="DB_DSN" value="mysql:dbname=INMOLOSA;host=localhost" />
        <var name="DB_USER" value="root" />
        <var name="DB_PASSWD" value="follamoscongordas" />
        <var name="DB_DBNAME" value="INMOLOSA" />
        </php>
</phpunit>